//post 
.post {
    padding-top: 120px;
    padding-bottom: 55px;
}

.post__input-wrapper {
    max-width: 552px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
}

.post__input-wrapper:not(:last-child){
    margin-bottom: 24px;
}

.post__input {
    border: none;
    max-width: 552px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px; 
}

.post__input::placeholder {
    color: #D9D9D9;
}

.post__btn {
    max-width: 293px;
}
